[submodule "nvim"]
	path = nvim
	url = https://github.com/RafisElias/nvim-config
[submodule "terminator"]
	path = terminator
	url = https://github.com/RafisElias/terminator
[submodule "helix"]
	path = helix
	url = https://github.com/RafisElias/helix.git
[submodule "kitty-terminal"]
	path = kitty-terminal
	url = https://github.com/RafisElias/kitty-terminal
